# Miscellaneous

/android/app/release
/android/app/profile
/android/app/debug
# Android Studio will place build artifacts here

app.*.map.json
# Obfuscation related

app.*.symbols
# Symbolication related

lib/generated_plugin_registrant.dart
# Web related

/build/
.pub/
.pub-cache/
.packages
.flutter-plugins-dependencies
.flutter-plugins
.dart_tool/
**/ios/Flutter/.last_build_id
**/doc/api/
# Flutter/Dart/Pub related

!.idea/runConfigurations/
.idea/
*.iws
*.ipr
*.iml
# IntelliJ related

migrate_working_dir/
.svn/
.history
.buildlog/
.atom/
.DS_Store
*.swp
*.pyc
*.log
*.class
